<!-- .row*2>.col -->
<div class="row">
  <div class="col">
    <app-search-form (queryChange)="search($event)"> </app-search-form>
  </div>
</div>

<div class="row">
  <div class="col">
    <ng-container *ngIf="resultsChange | async as results">
      <p>Found {{ results.length }} results</p>

      <app-search-results [results]="results"> </app-search-results>
    </ng-container>
  </div>
</div>
