<!-- .card>.card-body>h5.card-title+ng-content^.card-footer -->

<div class="card">
  <div class="card-body">
    
    <h5 class="card-title hide-if-empty">
      <ng-content select="title"></ng-content>
    </h5>

    <ng-content></ng-content>
  </div>

  <div class="card-footer hide-if-empty">
    <ng-content select="footer"></ng-content>
  </div>
</div>

<style>
  .hide-if-empty:empty {
    display: none;
  }
</style>
