<div class="card-group">
  <app-album-card 
    class="card" 
    [album]="result"
    *ngFor="let result of results"
  > 
  </app-album-card>
</div>

<style>
  .card{
    max-width: 25%;
    min-width: 25%;
  }

</style>