<nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand" routerLinkActive="placki active" routerLink="" 
                            [routerLinkActiveOptions]="{exact:true}">
      MusicApp</a
    >

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="playlists">Playlists</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="search">Search</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- <div class="col">
  <button (click)="hide = !hide">Toggle</button>

  <app-music-search *ngIf="hide"></app-music-search>
</div> -->
