<div class="input-group mb-3" [formGroup]="queryForm">
  <input
    type="text"
    formControlName="query"
    class="form-control"
    placeholder="Search"
  />

  <div class="input-group-append">
    <button
      class="btn btn-outline-secondary"
      type="button"
      (click)="search(queryForm.get('query')?.value)"
    >
      Search
    </button>
  </div>
</div>

<!-- <app-form-messages [field]="queryForm.get('query')"></app-form-messages> -->

<p *ngIf="queryForm.get('query')?.pending">Please wait... Checking...</p>

<div class="form-errors">
  <ng-container *ngIf="queryForm.get('query') as field">
    <ng-container *ngIf="field?.touched || field?.dirty">
      <p *ngIf="field?.hasError('required')">Field is required</p>

      <p *ngIf="field?.getError('minlength') as error">
        Minimum {{ error.requiredLength }} characters
      </p>

      <p *ngIf="field?.getError('censor') as error">
        Cannot include "{{ error.badword }}"
      </p>
    </ng-container>
  </ng-container>
</div>

<style>
  .input-group .ng-invalid.ng-dirty,
  .input-group .ng-invalid.ng-touched {
    border: 2px solid red;
  }

  /* .form-errors > p {
    display: none;
  }
  .form-errors > p:first-child() {
    display: block;
  } */
</style>
